.anecdote-modal {
    position: fixed;
    right:0;
    transition: right 2s ease-out;
    z-index: 12;
}

.anecdote-group {
	width: 300px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

.slider {
	margin-top: 33vh;
	margin-right: 20px;
	z-index: 16;
}

img {
	filter: drop-shadow(2px 2px 2px gray) hue-rotate(45deg) sepia(50%);
	margin: auto;
	height: 350px;
	border-radius: 5px;
	padding: 5px;
}
