.status-bar {
	z-index: 12;
	background-color: rgba(160, 120, 94, 0.5);
	vertical-align: middle;
	position: relative;
	border-radius: 20px;
}

.status {
	margin: 10px;
	color: black;
	text-align: left;
	padding: 10px 10px 10px 10px;
}

.status-btns {
	margin: 10px;
}

.status-bar-btn {
	background-color: transparent;
	color: black;
	margin-left: 0;
	font-weight: 600;
}
