 .status-bar {
    z-index: 12;
    background-color: rgba(160, 120, 94, 0.5);
    width: 90vw;
    height: 70px;
    display: flex;
    position: fixed;
    top: 10px;
    left: 80px;
    right: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
 }  
 .status {
     margin: 10px;
     color: black;
     /* background-color: blue; */
     text-align: left;
     /* text-shadow: 2px 2px 4px #000000; */
    } 

 .status-btns {
    margin: 10px;
    text-align: left;
    /* background-color: blue; */
 }
 
 .status-bar-btn {
    margin: 0px 10px 0px 0px;
    background-color: transparent;
    color: black;
    margin-left: 0;
    font-weight: 600;
}

.tatus-bar-btn:hover {
    background-color: white;
    color: black;
}